ESI_CLIENT_ID=your_esi_client_id_here
ESI_CLIENT_SECRET=your_esi_client_secret_here
ESI_CALLBACK_URL=http://localhost:8080/callback

TELEGRAM_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
JOB_SCAN_INTERVAL=300
